<div class="card bg-dark text-light">
  <div class="card-header">
    <h1 class="card-title">Profile</h1>
  </div>
  <div class="card-body">
    <p>email: {{user.email}}</p>
    <p>desde: {{user.createdAt}}</p>
  </div>
</div>