<div class="card mb-2 bg-dark text-white">

  <div class="card-header">
    <h5 class="card-title">
      <i class="fas fa-fire"></i> Most Popular
    </h5>
  </div>

  <div class="card-body">
    <div class="row">
      {{#each sidebar.popular}}
      <div class="col-md-4">
        <a href="/images/{{uniqueId}}">
          <img src="/uploads/{{filename}}" class="w-100 h-100 image-thumbnail" style="object-fit: cover;">
        </a>
      </div>
      {{/each}}
    </div>
  </div>

</div>