<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {{>head}}
  </head>
  <body>
    {{>navigation}}

    <div class="container p-4">
      <div class="row">
        <div class="col-md-8">
          {{{ body  }}} 
        </div>
        <div class="col-md-4">
          {{>stats this}}
          {{>popular this}}
          {{>comments this}}
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <footer class="bg-dark text-white">
      <div class="container p-2">
        <div class="row">
          <div class="mx-auto text-center">
            <p>imgShare.io | &copy; Copyright {{getCurrentYear}}, All rights reserved</p>
            <p>
              <i class="fab fa-twitter-square fa-2x"></i>
              <i class="fab fa-facebook-square fa-2x"></i>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    {{>footer}}
    <script src="/public/js/scripts.js"></script>
  </body>
</html>
