<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>imgShare</title>
  {{>head}}
</head>

<body>

  {{>navigation}}

  <div class="container p-4">
    {{{body}}}
  </div>

  {{>footer}}
</body>

</html>